bin_dir=./bin
tmp_dir=./tmp
data_dir=./data
update_script_uri=https://raw.githubusercontent.com/algorand/go-algorand-doc/master/downloads/installers/update.sh
algod_net=dev
algod_token=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
algod_admin_token=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
kmd_token=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
pg_host=localhost
pg_port=5432
pg_user=postgres
pg_pass=postgres
pg_dbuser=indexer
pg_dbname=indexer
pg_dbpass=indexer
pg_dbschema=indexer
